.balloon {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 200px;
    height: 320px;
    border-radius: 15px;
    background: white;    
}

.balloon-header {
    color: white;
    height: 40px;
    background: $orange;
    border-radius: 15px 15px 0 0;
}

.balloon-body {
    width: 200px;
    height: 300px;
    &__feed {        
        height: 100px;
    }
}

.balloon-footer {

}

.hide {    
    height: 320px;
}