$white: #fff;
$gray: #f0f0f0;
$dark-gray: #c4c4c4;
$search-icon: #9f9f9f;
$orange: #ff8663;
$background: #999;

$main-font-color: #4f4f4f;
$gray-font-color: #9f9f9f;

$main-font: 'Fira Sans', Arial, sans-serif;

$font__line-height-body: 1.6;