html {
  height: 100%;
  background: $background;
}

body {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}