extends ../_main-template

block variables
    - var title = 'Home page'

block content
    +b.SECTION(id="map").map
    +b.balloon(id="form")
    script(id="template" type="text/x-handlebars-template")
        .balloon-header {{address}}
        .balloon-body
            .balloon-body__feed(id="feed")
            .balloon-body__form
                .balloon-body__group
                    INPUT.balloon-body__control(id="firstName" placeholder="Ваше имя")
                .balloon-body__group
                    INPUT.balloon-body__control(id="spot" placeholder="Укажите место")
                .balloon-body__group
                    TEXTAREA.balloon-body__control.balloon-body__textarea(id="comment" placeholder="Поделитесь впечатлениями")
        .balloon-foter                
            BUTTON.balloon-footer__button(id="button-add")
                | Добавить
    script(id="feed-template" type="text/x-handlebars-template")
        | {{#each items}}
        SPAN.balloon-body__name
        | {{name}}
        SPAN.balloon-body__spot
        | {{spot}}
        SPAN.balloon-body__comment
        |{{comment}}
        SPAN.balloon-body__date
        |{{date}}
        | {{/each}}